<header class="page-header text-center">
    <h1>{{ site.title }}</h1>

    <p>
        <small>Programming in whatever</small>
    </p>

    <ul class="inline nav contacts">
        <li><a href="http://about.me/tomek.kwiecien" class="icon"><i class="icon-info-sign"></i></a></li>
        <li><a href="https://github.com/ca77y" class="icon"><i class="icon-github"></i></a></li>
        <li><a href="http://www.linkedin.com/pub/tomek-kwiecie%C5%84/28/566/b14" class="icon"><i
                class="icon-linkedin-sign"></i></a></li>
    </ul>
</header>